#title {
  font-size: 25px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px; 
  background: none;
  border: none;
  cursor: pointer;
}

#title:hover {
    text-shadow: 2px 2px grey;
}

.arrowButts:hover {
  color: lightcoral;
}

#question {
  font-size: 35px;
  color: #3d3d5c;
  cursor: default;
  margin-top: 10px;
  margin-bottom: 0px;
}

body{
    background: linear-gradient(to bottom right, pink, lightblue);
  font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.arrowButts {
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 14px;
  border: none;
  background: none;
  color: black;
  vertical-align: middle;
  cursor: pointer;
}


#window {
  position: relative;
  height: 475px;
  padding: 10px;
  background-color: rgba(255,255,255,0.45); 
}

#picHolder {
  border-radius: 12px;
  position: relative;
  width: 80%;
  margin: 0px;
  height: 300px;
  border: 1.5px;
  padding: 5px;
}

#left {
    position: absolute;
    top: 35%;
    left: 25px;
}
#right {
    position: absolute;
    top: 35%;
    right: 25px;
}

/* Dropdown Button */
.dropbtn {
    position: relative;
    background-color: lightcoral;
    color: black;
    padding: 8px;
    margin: 0px;
    font-size: 19px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: lightpink;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  border-radius: 12px;
  position: relative;
  height: 20px;
  border: 1.5px ;
  margin: 0px;
  padding: 20px;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 75%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}