#title {
  font-size: 25px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px; 
  background: none;
  border: none;
  cursor: pointer;
}

#title:hover {
    text-shadow: 2px 2px grey;
}

.arrowButts:hover {
  color: lightcoral;
}

body{
    background: linear-gradient(to bottom right, pink, lightblue);
  font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.arrowButts {
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 14px;
  border: none;
  background: none;
  color: black;
  vertical-align: middle;
  cursor: pointer;
}

#window {
  position: relative;
  height: 475px;
  padding: 10px;
  background-color: rgba(255,255,255,0.45); 
}


#left {
    position: absolute;
    top: 35%;
    left: 25px;
}

#scroll{
    margin: 40px 0px 0px 0px; 
    width: 75%;
    height: 70%;
    overflow: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#firstRow {
  color: #3d3d5c;
  font-weight: bold;
  background-color: rgba(255,255,255,0.45);
  font-size: 20px;
}

table {
      border-collapse: collapse;
  cursor: default;
}

td, th {
  border: 1px solid grey;
    text-align: left;
    padding: 8px;
}

#question {
  font-size: 35px;
  color: #3d3d5c;
  cursor: default;
}

tr:hover {
  background-color: #B6C5E3;
}

a:link {
  color: #8C001A;
  font-weight: bold;
}

a:active {
  color: #3d3d5c;
  font-weight: bold;
}